<aside class="sidebar bg-gray-100 w-64 h-screen fixed">
  <ul class="space-y-2 p-4">
    <li><%= link_to 'Rooms', rooms_path, class: "block py-2 px-4 rounded hover:bg-gray-200" %></li>
    <li><%= link_to 'Activity', activity_path, class: "block py-2 px-4 rounded hover:bg-gray-200" %></li>
  </ul>
</aside>